body {
  margin: 40px;
  text-align: center;
  padding-bottom: 50px;
}

#board {
  display: inline-block;
  margin: 20px 50px;
  width: calc(9*62px);
  padding: 0;
}

p,
button {
  display: inline-block;
  vertical-align: top;
}

form {
  vertical-align: middle;
}

li {
  display: inline-block;
  margin: 20px;
  zoom: 0.5;
  font-size: 1.5em;
}

textarea{
  width: 100%;
  height: 200px;
}

nav {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  left: 0;
}

nav a, nav a:hover, nav a:active {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.keyboard button {    
  width: 34px;
  height: 33px;
  margin: 2px;
  font-size: 1.2em;
  font-weight: bold;
}

.tile {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-size: contain;
  margin: 0;
}

.white {
  background-image: url("../img/grama_chao.png");
}

.black {
  background-color: black;
}

.gold {
  background-color: gold;
}

.red {
  background-image: url("../img/shamansembase.png"), url("../img/grama_chao.png");
  background-repeat: no-repeat;
  background-position-x: 10px, 0;
}

.blue {
  background-image: url("../img/guerreirosembase.png"), url("../img/grama_chao.png");
  background-repeat: no-repeat;
  background-position-x: 10px, 0;
}

.green {
  background-image: url("../img/lhamasembase.png"), url("../img/grama_chao.png");
  background-repeat: no-repeat;
  background-position-x: 10px, 0;
}

.purple {
  background-color: purple;
}

#thisPlayerPhoto {
  float: left;
  height: 60px;
  width: 60px;
}

#curPlayerPhoto {
  float: right;
  height: 60px;
  width: 60px;
  background-size: contain;
}

#playerInfo {
  width: calc(100% - 70px);
}

#turnPlayerInfo {
  width: calc(100% - 70px);
  text-align: right;
}

table {
  width: 100%;
}

table tr td:nth-child(2n) {
  text-align: left;
}